@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}

main {
    background-color: #0282B6;
    border-radius: 5px;
    width: 610px;
    height: 540px;
    margin: auto;
    margin-top: 80px;
    display: block;
    padding-top: 50px;
}

img {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: normal;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

form > input {
    color: black;
    font-size: 1.2em;
    padding: 10px;
    margin-top: 10px;
}

form > button {
    background-color: #0282B6;
    color: white;
    border: solid 2px white;
    padding: 10px;
    margin-top: 50px;
}

form > a {
    display: block;
    text-align: right;
    margin-top: 40px;
    font-size: 0.8em;
}

@media only screen and (max-width:630px) {
    main {
        width: 100%;
        margin: 0px;
        border-radius: 0px;
    }
}